.offerDetails-page-title {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include xs {
        flex-direction: column;
    }

    .offerDetails-name {
        font-size: 30px;
        color: $text;
        margin: 0;
        font-weight: 400;
    }
}

.offerDetails-page-cont {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;

    @include md {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .side-cont {
        border: solid 0.5px rgba(112, 112, 112, 0.49);
        background-color: #fff;
        box-shadow: none;
        height: auto;
        height: max-content;

        .side-title {

            &::after {
                width: 105px;
            }
        }
    }

    .help {
        padding: 0;
        margin: 0;
        padding-inline-start: 15px;
        height: max-content;

        li {
            font-size: 13px;
            margin: 10px 0;
            color: #222222;
            line-height: 1.72;
            font-family: SST;
        }
    }

}

.offerDetails-right-div {
    max-width: 100%;
    overflow: hidden;
}

.offerDetails-block {
    border-radius: 5px;
    border: solid 0.5px rgba(112, 112, 112, 0.49);
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 25px;
    color: #222;

    .block-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(#262626, 0.04);
        padding: 12px 20px;

        .block-title {
            font-size: 24px;
            color: $main;
            font-weight: 400;
            margin: 0;
        }

        a {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            font-family: SST;
            color: $main;
            text-decoration: underline;
            transition: all 0.3s ease-in-out;


            &:hover {
                color: $sec;
                text-decoration: none;
            }
        }
    }

    .block-body {
        padding: 20px;
    }

    h4 {
        font-size: 20px;
        color: #222;
        margin: 0 0 15px;
        font-weight: 400;
    }

    .cost-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        @include sm {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .cost-item {
        display: flex;
        flex-direction: column;



        strong {
            font-size: 20px;
            font-weight: 700;
            opacity: 0.89;
            font-family: SST;
            color: #222;
        }
    }

    span {
        &.label {
            font-family: SST;
            color: #222;
            opacity: 0.6;
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
    }
}

.side-cont {
    .side-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: $main;
        color: #fff;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        margin-top: 40px;
        border-radius: 5px;
        cursor: pointer;

        &.rateModalBtn {
            color: #ffc80f;
            background-color: rgba(255, 200, 15, 0.09);

        }

        &.completed {
            background-color: #393939;
        }

        &.btn-wait {
            color: #393939;
            background-color: #efefef;
        }

        &:hover {
            color: #fff;
            background-color: $sec;
            text-decoration: none;
        }

    }

    .client {
        padding: 15px 0;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;

        .user-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;

            @include md {
                width: 45px;
                height: 45px;
            }
        }

        .user-text {
            margin-inline-start: 15px;
            text-align: start;

            h6 {
                font-size: 14px;
                font-weight: 400;
                color: $sec;
                margin: 0;
            }

            .rating {
                display: flex;
                align-items: center;

                span {
                    fill: none;
                    stroke: #ffba00;
                    stroke-width: 1px;

                    ~span {
                        margin-inline-start: 3px;
                    }

                    &.active {
                        fill: #ffba00;
                    }
                }

                @include xs {
                    margin-bottom: 5px;
                }
            }
        }


    }
}

.client-info {
    margin: 0;

    li {
        display: flex;
        align-items: center;
        font-family: SST;
        font-weight: 400;
        padding: 12px 0;
        border-bottom: solid 0.5px rgba(#707070, 0.19);

        &:last-of-type {
            border: none;
        }

        span {
            margin-left: 15px;
            width: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.clockify-alert {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 0.5px rgba(112, 112, 112, 0.14);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;

    @include xs {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .icon {
        margin-left: 10px;

        @include xs {
            margin: 0 0 5px;
        }
    }

    svg {
        width: 70px;
    }

    p {
        margin: 0;
        color: #222222;
        font-family: SST;
        font-weight: 400;
        line-height: 1.96;

        a {
            color: $main;
            font-weight: 700;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: $sec;
                text-decoration: none;
            }
        }
    }
}

.follow-hours {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 0.5px rgba(112, 112, 112, 0.14);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;

    @include xs {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .icon {
        flex-shrink: 0;
        margin-left: 10px;

        @include xs {
            margin: 0 0 5px;
        }

        svg {
            width: 70px;
        }
    }

    .follow-text {
        width: 100%;

        .follow-title {
            color: #222222;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }

    .follow-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;

        @include xs {
            grid-template-columns: 1fr 1fr;
            gap: 5px;
            text-align: center;
        }
    }

    .item {
        display: flex;
        align-items: center;
        font-family: SST;
        font-weight: 400;

        @include xs {
            justify-content: center;
        }

        svg {
            width: 20px;
            fill: $main;
            margin-left: 5px;
        }

        &.active {
            svg {
                fill: $main;
            }
        }

        &.inactive {
            svg {
                fill: #f85c5c;
            }
        }
    }
}

.parts {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 0.5px rgba(112, 112, 112, 0.14);
    overflow: hidden;
    background-color: #fff;
    width: max-content;
    overflow-x: auto;
    max-width: 100%;

    .part {
        flex-shrink: 0;
        width: 135px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        color: rgba(57, 57, 57, 0.73);
        font-size: 18px;
        position: relative;

        span {
            position: relative;
            z-index: 4;
        }

        &.active {
            color: #fff;
            background-color: $main;
            fill: #fff;

            svg {
                width: 15px;
                margin-left: 5px;
            }
        }

        &.working {
            color: #2ed30d;
            background-color: #c3ebbb;
            stroke: #60d049;

            svg {
                width: 15px;
                margin-left: 5px;
                fill: none;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 3px
            }
        }
    }
}